.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  &__title {
    margin: 10px 0;
    font-size: 32px;
  }

  &__links {
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  &__canvas {
    width: 500px;
    height: 500px;
  }
}
