<main class="container">
  <h1 class="container__title">ThreeJS Demo for Angular</h1>
  <section class="container__links">
    <a href="https://threejs.org/">ThreeJS</a>
    <a href="https://gitlab.com/ricardoleoncorreia/3d-animations-with-threejs/">GitLab Repo</a>
  </section>
  <div class="container__canvas" boxGeometry></div>
</main>
